USE [master]
GO
/****** Object:  Database [ATM]    Script Date: 10/26/2021 4:50:18 PM ******/
CREATE DATABASE [ATM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\ATM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\ATM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATM]
GO
USE [ATM]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/26/2021 4:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountCode] [varchar](10) NOT NULL,
	[AccountNumber] [varchar](15) NOT NULL,
	[Pass_word] [char](6) NOT NULL,
	[Balance] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Withdraw]    Script Date: 10/26/2021 4:50:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Withdraw](
	[WithdrawCode] [varchar](10) NOT NULL,
	[WithdrawDate] [date] NOT NULL,
	[WithdrawAmount] [int] NOT NULL,
	[AccountCode] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[WithdrawCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountCode], [AccountNumber], [Pass_word], [Balance]) VALUES (N'1', N'123', N'123123', 1000000)
INSERT [dbo].[Account] ([AccountCode], [AccountNumber], [Pass_word], [Balance]) VALUES (N'2', N'2', N'012345', 9999999)
GO
INSERT [dbo].[Withdraw] ([WithdrawCode], [WithdrawDate], [WithdrawAmount], [AccountCode]) VALUES (N'1', CAST(N'2021-10-26' AS Date), 300000, N'1')
GO
ALTER TABLE [dbo].[Withdraw]  WITH CHECK ADD FOREIGN KEY([AccountCode])
REFERENCES [dbo].[Account] ([AccountCode])
GO
USE [master]
GO
